// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

$primary-color: #BBDFDF;
$secondary-color: #D159AD;

$accent-color: #7BCAC5;
$accent-color-2: #F6EAF4;

$dark-color: #121826;
$light-color: #FAFAFC;

$white-color: #ffffff;

$gray-1000: #333333;
$gray-900: #3A4049;
$gray-800: #626D7D;
$gray-700: #7F8A9B;
$gray-600: #98A0AE;
$gray-500: #ADB3BE;
$gray-400: #BFC4CD;
$gray-300: #CFD3DA;
$gray-200: #DEE1E5;
$gray-100: #ECEEF0;
$gray-0: #F9F9FA;


$critical-light: #FFC2C6;
$critical: #FA0A32;

$warning-light: #FCDA6A;
$warning: #FC9700;

$success-light: #389E0D;
$success: #A7EB92;


$size: 12px;
$grid: 1440px;

$xlarge: 1240px;
$large: 992px;
$medium: 744px;
$small: 327px;
$small2: 377px;
